.page-header {
  background-image: url(../img/pattern.png);
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(93, 128, 218);
}
.contanier {
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  height: 80px;
}

address {
  font-weight: bold;
  color: darkgrey;
}
img {
  max-width: 100%;
}

time {
  font-size: 0.7rem;
}
