.page-header{
    background-color: cornflowerblue;
    background-image: url(./img/pattern.png)
}

.logo{
    width: 150px;
    height: 150px;
    
}

.tab{
    table-layout: auto;
    
    }

    .tfine{
        color: dimgray;
    }

    .head{
        background-color: cornflowerblue;
        color: azure;
    }

    .body-1{
        background-color: aqua;
    }


   


    


