.page-header{
    background-color: cornflowerblue;
    background-image: url(./img/pattern.png)
}

.logo{
    width: 150px;
    height: 150px;
}
    


    .tfine{
       color: gray;
    }

    .head{
        background-color: cornflowerblue;
        color: azure;
    }

    .body-1{
        background-color: aqua;
    }

    .tabella{
        display: table;
        
        border-spacing: 0px;
        }

    .foto{   

    
        margin: 0px;
        background-image: url(./img/monitor.jpg);
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: red;
        font-size: 140%;
        font-weight: normal;
        line-height: 260px;
        text-align: center;
        width: 240px;
        height: 150px;
      }
   

        
          
        
        

       

    
    
     
s
    

   


    


